* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0 !important;
}

h2 { 
  text-align: left;
  border-top: 5px solid #49A3E2;
}

.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.wrapper-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
}

#portfolio__title_img {
    width: 100%;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.portfolio__header {
    top: 10vh;
    background-color: white;
    padding: 2em 3em;
    display: inline-block;
    max-width: 60vw;
    margin-top: 70px;
    display: flex;
}

.portfolio__date {
    font-size: 1.4em;
    line-height: 1.3;
    color: #8e8e8e;
    margin-bottom: 0;
}

.portfolio__title {
    margin-bottom: 0;
}

@media print {
  p {
    line-height: 1.4 !important;
  }
}