body {
  margin: 0;
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}
h1, a {
  font-family: 'Poppins', sans-serif;
}

.navbar-nav {
  display: inline-block;
}

.navbar-nav>li {
   display: inline-block;
   margin-right: 10px;
}

@media (max-device-width: 1024px) {
  body {
    padding-top: 30px;
  }
  h1 {
    font-size: 24px;
  }
}