/* Wrapper */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.box-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.alert {
  display: none;
  flex-direction: column;
  width: 100%;
}

#header-container {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#vis-container {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
}

#stacked {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Title */
#title-wrapper {
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  flex: 2;
}
#general {
  flex: 1;
}

.sub-title {
  width: 750px;
  font-size: 1.2em;
  margin-left:80px;
}

/* Dot plot */
.slider {
  z-index: 999;
  width: 520px;
  height: 200px;
  position: absolute;
  top: 20px;
  left: 350px;
}
.tabs {
  z-index: 999;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 15px;
  left: 900px;
}
#map {
  position: absolute;
  left: 20px;
  top: 10px;
}
#legend {
  width: 500px;
  height: 220px;
}
#chart {
  min-width: 1600px;
}
/* Miscellaneous */
#footerWrapper {
  margin: 0px;
  padding: 9px;
  background-image: linear-gradient(white, #DB2829);
  background-repeat: no-repeat;
  width: 100%;
}

#footer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.annotation {
  font-size: 0.8em;
  fill: grey;
  color: grey;
}
.annotation-map {
  width: 120px;
  position: absolute;
  top: 40%;
  left: 20px;
}

.info {
  padding-left: 20px;
}

.click-btn:hover {
  cursor: pointer;
}

.barLegend {
  cursor: pointer;
}

.year-image {
  padding: 10px 0px;
} 

@media (max-width: 1400px) {
  .box-group {
    display: none;
  }
  #vis-container {
    display: none;
  }
  .alert {
    display: flex;
  }
}