/* Wrapper */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.box-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.alert {
  display: none;
  flex-direction: column;
  width: 100%;
}

#title-wrapper, #vis-container {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
}
#stacked, #title {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Title */
#title {
  z-index: 10;
  /*display: flex;*/
  /*align-items: center;*/ 
  /*justify-content: center;*/
  /*flex-direction: column;*/
  margin-top: 100px;
  margin-left: 25px;
}
.sub-title {
  z-index: 99;
  position: absolute;
  left: 100px;
  top: 430px; 
  width: 650px;
  font-size: 1.2em;
}

/* Bubble chart */
#general {
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;      
}

/* Dot plot */
.slider {
  z-index: 999;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 20px;
  left: 300px;
}
.tabs {
  z-index: 999;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 15px;
  left: 850px;
}
#map {
  position: absolute;
  left: 20px;
  top: 10px;
}
#legend {
  width: 500px;
  height: 220px;
}
#chart {
  min-width: 1600px;
}
/* Miscellaneous */
#header {
  position: absolute;
  right: 30px;
  top: 10px;      
}

#footerWrapper {
  margin: 0px;
  padding: 9px;
  background-image: linear-gradient(white, #DB2829);
  background-repeat: no-repeat;
  width: 100%;
}

#footer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.annotation {
  font-size: 0.8em;
  fill: grey;
  color: grey;
}
.annotation-map {
  width: 120px;
  position: absolute;
  top: 50%;
  left: 20px;
}

.info {
  padding-left: 20px;
}

.click-btn:hover {
  cursor: pointer;
}

@media (max-width: 1440px) {
  .sub-title {
    z-index: 99;
    position: absolute;
    left: 100px;
    top: 430px; 
    width: 600px;
    font-size: 1.2em;
  }
}

@media (max-width: 1390px) {
  .box-group {
    display: none;
  }
  #vis-container {
    display: none;
  }
  .alert {
    display: flex;
  }
}